page-home {

  h1,h2,h3{
    float:right;
  }
  #buttons {
    margin-top:20%;
  }

  .vertical-align-content > *
  {
    //display: flex!important;
    //align-content: center!important;
    //align-items: center!important;
  }
  .toolbar{
    background-color: #c8dcff;
  }
}

